body {
  overflow-x: hidden !important;
  display: flex;
  flex-direction: column;
}

* {
  overflow-x: hidden !important;
}

@font-face {
  font-family: cursive-text;
  src: url(GreatVibes-Regular.ttf);
}

.cursive-font {
  font-family: cursive-text;
}

#hero {
  background-color: #800000;
  display: flex;
  width: 100vw !important;
  height: 100vh;
  margin: 0px !important;
  flex-grow: 1;
  flex-direction: row;
}

#hero img {
  background-color: #000137;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.lh-unset {
  line-height: unset !important;
}

#name-and-info * {
  overflow-x: unset !important;
}

@media only screen and (max-width: 991px) {
  #name-and-info {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 30vh;
    justify-content: flex-start;
  }

  #hero img {
    margin-top: 30px;
  }
}

.bg-blue {
  background-color: #000137;
}

.lead {
  color: antiquewhite;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-details.end {
  align-items: flex-end;
}

#existing-projects,
#upcoming-projects,
#live-performances {
  min-height: 50vh;
}
